@import url('https://fonts.googleapis.com/css2?family=Saira+Condensed:wght@100;200;300;400;500;600;700;800;900&display=swap');
body {
  font-family: 'Saira Condensed', sans-serif;
  background-image: url("backgroundpicture.jpg");
  background-size: cover;        /* makes it fill the screen */
  background-position: center;   /* centers the image */
  background-repeat: no-repeat;  /* prevents repeating */
  height: 100%;
}
p{
  margin: 0;
}
a{
  text-decoration: none;
}
 html, body {
      height: 100%;
      margin: 0;
      padding: 0;
    }
.profile-div{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 150px;
  padding-top: 15px;
}
.bio-div{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 200px;
}
.profile{
  border: 2px solid white ;
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 100%;
  box-shadow: 0 0 5px rgba(0,0,0,0.5);
}
.main-div{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;
}
  .piracy-div, .info-div, .project-div{
    width: 300px;
  background-color: rgba(255,255,255,0.5);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius:5px;
  box-shadow: 0 0 5px rgba(0,0,0,0.5);
  animation-name: slideLeft;
  animation-duration: 3s;
  }
  @keyframes slideLeft{
    from {transform: translate(300px)}
  }
.icon{
  width: 70px;
}
.piracy{
  display: flex;
  justify-items: center;
  align-items: center;
  gap:10px;
}
.email-div{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}
.email-svg{
  width: 40px;
}
.project-options-div{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}